@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-color: #e2e4ed;
  margin: 0;
  font-family: sans-serif;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  justify-content: center;
}
