.card {
  max-width: 25%;
  margin: 1em;
  word-break: break-all;
}

.card:hover {
  cursor: pointer;
  mat-elevation-z: 3;
}

.add-article-button {
  border: 1px solid black;
  color: black;
  background-color: transparent;
  margin-top: 1%;
  padding: .6%;
  font-size: 1em;
}

.add-article-button:hover {
  color: white;
  background-color: black;
}

.add-article-button:focus {
  outline: none;
}

.action-container {
  display: flex;
  justify-content: flex-end;
}

mat-paginator {
  width: fit-content;
  float: right;
}
