<div class="container">
  <div class="action-container">
    <button class="add-article-button" *ngIf="isLogged()" (click)="openArticleCreatorDialog()">New Article</button>
  </div>
  <div class="flex-container">
    <mat-card *ngFor="let article of articles" class="card">
      <img mat-card-image src="{{article.imgUrl}}">
      <mat-card-header>
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.creationTime | date:"short"}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageable.size"
    [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>
<app-article-dialog></app-article-dialog>
