<header class="header">
  <div class="container header-container">
    <div>
      <img class="logo"
           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRaTt4r0slRc2WC6I9FpS_shdT0KklpeanYmOYRTJhfJxWiu8i"
           (click)="navigateToMainPage()">
    </div>
    <div class="header-list">
      <ul class="header-action-list">
        <li *ngIf="!isLogged()" (click)="openLoginDialog()">Sign in<i class="fas fa-sign-in-alt"></i></li>
        <li *ngIf="!isLogged()" (click)="openUserRegistrationDialog()">Sign up<i class="fas fa-user-plus"></i></li>
        <li *ngIf="isLogged()">{{getUsername()}}<i class="fas fa-user"></i></li>
        <li *ngIf="isLogged()" (click)="logout()">Logout<i class="fas fa-sign-out-alt"></i></li>
      </ul>
    </div>
  </div>
</header>
<app-registration-dialog></app-registration-dialog>
<app-login-dialog></app-login-dialog>
